<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="Python" />
            <add name="Python" path="*.py" verb="*" modules="CgiModule" scriptProcessor="C:\cygwin\bin\python2.7.exe %s %s" resourceType="Either" />
            
        </handlers>
    </system.webServer>
</configuration>
